<body>
<div>
	<p> Félicitations vous vous êtes bien inscrits ! </p>
	<p> Vous pouvez dorénavant aller enregistrer une carte pour le paiement en un clique : <a href="{{ path('cb_create') }}"> ici </a></p>
	<p> Vous pouvez également aller configurer vos boutons : <a href="{{ path('buttons_list') }}"> ici </a> </p>
</div>
</body>